= simple_form_for task, html: { class: "quote form" } do |f|
  - if task.errors.any?
    .error-message
      = task.errors.full_messages.to_sentence.capitalize
  = f.input :name, input_html: { autofocus: true }
  = f.input :user_id, as: :hidden, input_html: { value: current_user.id }
  = link_to "Cancel", tasks_path, class: "btn btn--light"
  = f.submit class: "btn btn--secondary