.fixed-side-navbar
  %ul.nav.flex-column
    %li.nav-item
      %a.nav-link{:href => "#home"}Home
    %li.nav-item
      %a.nav-link{:href => "#about"}About
    %li.nav-item
      %a.nav-link{:href => "#expertise"}Expertise
    %li.nav-item
      %a.nav-link{:href => "#team"}Team       
    %li.nav-item
      %a.nav-link{:href => "#quotes"}Quotes        
    %li.nav-item
      %a.nav-link{:href => "#contact-us"}Contact
    %li.nav-item
      = link_to "Log", quotes_path, class: "nav-link" 

#home.parallax-content.baner-content
  #readout    
    #num_list

  .container
    .first-content
      %h1 LiteralLight
      %span The Website of Ben McKibben
      %br
      %span
        = DateTime.now.in_time_zone('Indiana (East)').to_formatted_s(:stardate)

#about.service-content
  .container
    .section-title.text-center.center
      %h2
        About
      %hr
    .row
      .col-md-4
        = image_tag("switching03.jpg", class: "img-responsive" ) 
      .col-md-4
        .about-text
          %h4
            Who I Am
          %p
            A puzzle solver. I am a Artisan, Craftsman, Shokunin. I take a collection of raw materials and create something that is not only useful, but also aesthetically pleasing. I have an innate sense of pattern recognition.
          %p
            I am an experienced full stack web application developer. Not websites, but thin client applications.
      .col-md-4
        .about-text
          %h4
            This Website
          %p
            Remember those &ldquo;Under Construction&rdquo; pages that were the anathema of ancient web development? This page is always under construction. It is my sandbox and a showcase of my talents and technical expertise.</p>
          %p
            It is an implementation of a template by Templatewire adapted to a Ruby on Rails environment.
    .row
      .col-md-4.offset-md-4
        .about-text
          %h4
            Career        
          %p
            When people ask me what I do the easiest answer is: I am a programmer. If I say I am an application developer I receive a blank stare. I make a distinction. A programmer is someone who writes code to tell a computer what to do. An application developer is someone who writes code that allows a non-programmer to tell a computer what to do. I am an Application Developer.
      .col-md-4
        .about-text
          %h4
            Experience        
          %p
            I have traveled the world and had the experience to do things other people don't even think about. I have been:
            %ul
              %li
                Found my true love in Moscow, Russia
              %li  
                Been a starving student in Wakiki
              %li 
                Eaten wok fried noodles on the streets of Kuala Lumpur
              %li  
                Para-sailed in Bali
              %li  
                Traveled by train across southern India
              %li
                Ridden through Nepal on top of a bus
              %li
                Wandered neon lit streets of Kowloon
              %li
                Climbed highest peak in southeast Asia
              %li
                Dined along the banks of the Chao Phraya
              %li
                Shopped on Orchard Road, Oxford Street, and the Champs-Élysées
              %li
                Been awed by Monet's Water Lilies at the Musée de l'Orangerie

#expertise.tabs-content
  .container
    .section-title.text-center.center
      %h2
        Expertise
      %hr
      .row
        .col-md-3.col-sm-6
          .service
            =icon("fa-brands","fa-html5")
            %h3
              HTML
            %p
              I&apos;ve worked with all of its variations.
        .col-md-3.col-sm-6
          .service
            %i.fa.fa-cogs
            %h3
              Javascript
            %p
              jQuery

        .col-md-3.col-sm-6
          .service
            %i.fab.fa-css3-alt
            %h3
              CSS
            %p
              Bootstrap rules!

        .col-md-3.col-sm-6
          .service
            %i.fas.fa-gem
            %h3
              Ruby On Rails
            %p
              The newest addition to my toolkit.
      .space
      .row
        .col-md-3.col-sm-6
          .service
            %i.fa.fa-code
            %h3
              Coldfusion
            %p
              An efficient language for web application development. My staple for fifteen years.
        .col-md-3.col-sm-6
          .service
            %i.fa.fa-database
            %h3
              Database
            %p
              Oracle, MS-SQLServer, MongoDB, PostgreSQL, MySQL
        .col-md-3.col-sm-6
          .service
            %i.fa.fa-bar-chart
            %h3
              R with R Studio
            %p
              Used in a recent courses for Big Data and Machine Learning.
              %br
              Course Project:
              %br
              =link_to "Presentation", url: "http://rstudio-pubs-static.s3.amazonaws.com/126794_136b8a1f10cf490dbbc02db91d7437c1.html#/", target:"_blank"
                
              %br
              =link_to "Application", url: "https://bmckibben.shinyapps.io/data_products/", target:"_blank"
                
        .col-md-3.col-sm-6
          .service
            %i.fa.fa-medkit
            %h3
              HL7
            %p
              The standard for transfer of clinical and administrative data between software applications used by healthcare providers.

#team.team-content
  .container
    .section-title.center
      %h2
        Meet the team
      %hr
      %p
        Who is responsible for all this?
    .row
      .col-sm-6.col-md-3
        =image_tag("team/01.jpg",  class: "img-thumbnail team-img", alt: "...") 
        .caption
          %h3
            Shokunin
      .col-sm-6.col-md-3
        .thumbnail
          =image_tag("team/02.png",  class: "img-thumbnail team-img", alt: "...")
          .caption
            %h3
              Code Monkey
      .col-sms-6.col-md-3
        .thumbnail
          =image_tag("team/03.jpg",  class: "img-thumbnail team-img", alt: "...")
          .caption
            %h3
              ウルトラマン
      .col-sm-6.col-md-3
        .thumbnail
          =image_tag("team/04.jpg",  class: "img-thumbnail team-img", alt: "...")
          .caption
            %h3
              Role Model

= render "quotes"               

#contact-us.parallax-content.contact-content
  .container
    .row
      .col-md-3
      .col-md-6

        .contact-form.service-item
          .row
            %h4 Contact Me
            =simple_form_for :contact, url: contact_path, remote: true, html: {class: "my_form", id: "contact",  role: "form"} do |f|
              .row
                .col-md-12
                  %fieldset
                    =f.input :name, class:"form-control", placeholder: "Your name...",  required: true, label: false
                .col-md-12
                  %fieldset
                    =f.input :email, class:"form-control", as: :email, placeholder: "Your email...",  required: true, label: false
                .col-md-12
                  %fieldset
                    =f.input :message, class:"form-control",  placeholder: "Your message...",  required: true, label: false
                .col-md-12
                  %fieldset
                    %button#form-submit.btn.btn--primary{:type => "submit"} Send Message
                    #snackbar

%footer
  .container
    .row
      .col-md-12
        .primary-button
          %a{:href => "#home"} Back To Top
        %p
          Copyright © #{Time.now.year} Ben M Curry
          
          \- Design:
          %a{:href => "https://templatemo.com", :rel => "nofollow noopener"}
            %em TemplateMo 
:javascript

    var line_count = 0;
    var readout = document.getElementById("readout")
    var readout_height = readout.offsetHeight;
    var arSVG = get_svg();
    num_list = document.getElementById("num_list")
    previous_display = num_list.innerHTML;


    //gen_random();
    setInterval(gen_random, 500);
    function gen_random() {
      
      if (num_list.offsetHeight > (readout_height-10)){
        delete_pos = previous_display.indexOf("<br>");
        previous_display = previous_display.slice(delete_pos+1);
        //readout.find('span').first().remove();
        num_list.removeChild(num_list.getElementsByTagName('span')[0]);
      }else{
        line_count += 1;
      }
      new_line = "<span>"
      for (let i=0; i < arSVG.length; i++) {
        r = randomDigit(11);
        new_line += arSVG[r];

      }
      newline = new_line + "</span>"
      num_list.innerHTML += newline
    };

    function randomDigit(l) {
      return Math.floor(Math.random() * Math.floor(l));
    }


    function get_svg() {
      var svgs = [];
      svgs.push('<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100.000000pt" height="100.000000pt" viewBox="0 0 100.000000 100.000000" preserveAspectRatio="xMidYMid meet"> <g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)" fill="#ffffff" stroke="none"> <path d="M130 500 l0 -500 385 0 385 0 0 500 0 500 -50 0 -50 0 0 -450 0 -450 -285 0 -285 0 0 240 0 239 79 3 78 3 -76 207 -76 208 -52 0 -53 0 0 -500z"/> </g></svg>');
      svgs.push('<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100.000000pt" height="100.000000pt" viewBox="0 0 100.000000 100.000000" preserveAspectRatio="xMidYMid meet"> <g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)" fill="#ffffff" stroke="none"> <path d="M260 950 l0 -50 90 0 90 0 0 -450 0 -450 130 0 130 0 -33 67 c-19 38 -39 90 -46 117 -7 26 -26 78 -44 115 l-32 66 -3 318 -3 317 -140 0 -139 0 0 -50z"/> </g> </svg>');
      svgs.push('<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100.000000pt" height="100.000000pt" viewBox="0 0 100.000000 100.000000"  preserveAspectRatio="xMidYMid meet"> <g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)" fill="#ffffff" stroke="none"> <path d="M510 950 l0 -50 145 0 145 0 0 -140 0 -140 -345 0 -345 0 0 -45 0 -45 345 0 345 0 0 -64 c0 -46 -15 -120 -50 -253 -28 -103 -52 -194 -55 -200 -3 -10 21 -13 100 -13 l105 0 0 500 0 500 -195 0 -195 0 0 -50z"/></g></svg>');
      svgs.push('<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100.000000pt" height="100.000000pt" viewBox="0 0 100.000000 100.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)" fill="#ffffff" stroke="none"> <path d="M183 863 c52 -76 190 -277 306 -448 l212 -310 -145 -3 -145 -3 -151 76 -150 75 0 -125 0 -125 390 0 c369 0 390 1 381 18 -6 9 -158 233 -339 497 l-328 480 -63 3 -62 3 94 -138z"/></g></svg>');
      svgs.push('<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100.000000pt" height="100.000000pt" viewBox="0 0 100.000000 100.000000"  preserveAspectRatio="xMidYMid meet"> <g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)" fill="#ffffff" stroke="none"> <path d="M102 983 c4 -19 31 -42 325 -266 l202 -154 -259 -8 -260 -7 0 -274 0 -274 360 0 360 0 0 48 0 47 -163 66 -162 67 -3 -69 -3 -69 -144 0 -145 0 0 178 0 179 113 6 c61 4 199 7 305 7 l192 0 0 38 c0 48 9 41 -327 296 l-272 206 -61 0 c-53 0 -61 -2 -58 -17z"/> </g> </svg>');
      svgs.push('<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100.000000pt" height="100.000000pt" viewBox="0 0 100.000000 100.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)"fill="#ffffff" stroke="none"> <path d="M130 875 l0 -125 23 9 c12 5 99 41 194 80 l172 71 126 0 125 0 0 -175 0 -175 -320 0 -320 0 0 -280 0 -280 370 0 370 0 0 50 0 50 -320 0 -320 0 0 180 0 180 320 0 320 0 0 270 0 270 -370 0 -370 0 0 -125z"/></g></svg>');      
      svgs.push('<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100.000000pt" height="100.000000pt" viewBox="0 0 100.000000 100.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)"fill="#ffffff" stroke="none"> <path d="M80 950 l0 -50 360 0 360 0 0 -165 0 -165 -360 0 -360 0 0 -49 0 -49 159 -118 c158 -119 158 -119 236 -237 l78 -117 159 0 160 0 -108 83 c-60 46 -199 150 -308 233 l-199 149 321 3 322 2 0 265 0 265 -410 0 -410 0 0 -50z"/></g></svg>');
      svgs.push('<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100.000000pt" height="100.000000pt" viewBox="0 0 100.000000 100.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)"fill="#ffffff" stroke="none"> <path d="M91 748 l0 -253 315 -248 315 -248 78 3 77 3 -343 270 -342 270 -1 178 0 177 144 0 144 0 208 -70 c115 -38 210 -70 211 -70 2 0 3 54 3 120 l0 120 -405 0 -405 0 1 -252z"/></g></svg>');      
      svgs.push('<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100.000000pt" height="100.000000pt" viewBox="0 0 100.000000 100.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)"fill="#ffffff" stroke="none"> <path d="M80 500 l0 -500 410 0 410 0 0 101 c0 91 -2 100 -17 95 -10 -3 -104 -26 -209 -51 -183 -43 -197 -45 -342 -45 l-152 0 0 180 0 180 210 0 210 0 0 45 0 45 -210 0 -210 0 0 225 0 225 -50 0 -50 0 0 -500z"/></g></svg>');
      svgs.push('<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100.000000pt" height="100.000000pt" viewBox="0 0 100.000000 100.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)"fill="#ffffff" stroke="none"> <path d="M100 503 c0 -423 2 -495 14 -483 15 16 707 946 720 968 5 9 -8 12 -53 12 l-60 0 -258 -346 -258 -345 -3 144 -3 144 51 189 c28 104 52 195 55 202 3 9 -21 12 -100 12 l-105 0 0 -497z"/></g></svg>');
      svgs.push('<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100.000000pt" height="100.000000pt" viewBox="0 0 100.000000 100.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)"fill="#ffffff" stroke="none"> <path d="M160 500 l0 -500 60 0 59 0 258 346 258 345 2 -148 2 -148 -52 -195-53 -195 99 -3 c55 -1 101 -1 103 1 2 2 3 226 2 497 l-3 494 -322 -433 -323-433 0 436 0 436 -45 0 -45 0 0 -500z"/></g></svg>');
      return svgs;
    }




