%p#notice= notice

%p
  %b Name:
  = @project.name
%p
  %b Description:
  = @project.description
%p
  %b Start at:
  = @project.start_at
%p
  %b End at:
  = @project.end_at
%p
  %b User:
  = @project.user
%p
  %b Product:
  = @project.product
%p
  %b Project status:
  = @project.project_status

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
