= simple_form_for log, html: { class: "quote form" } do |f|
  - if log.errors.any?
    .error-message
      = log.errors.full_messages.to_sentence.capitalize
  = f.input :description, input_html: { autofocus: true }
  = link_to "Cancel", logs_path, class: "btn btn--light"
  = f.submit class: "btn btn--secondary"