= turbo_stream_from current_user, "logs"
%main.container
  .header
    %h1 Logs
    = link_to "New Log",                   
      new_log_path,                        
      class: "btn btn--primary",             
      data: {turbo_frame: dom_id(Log.new)} 
  
  = turbo_frame_tag Log.new
  
  #items.d-flex.flex-column.gap-3
    = turbo_frame_tag "logs" do
      = render "logs/empty_state"  
      = render @logs