%header.navbar
	- if user_signed_in?
		.navbar__brand
			= current_company.name
		.navbar__name
			= current_user.name
		= link_to "Home",
			root_path,
			class: "navbar__btn"	
		= link_to "Log Out",
			destroy_user_session_path,
			data: { "turbo-method": :delete },
			class: "navbar__btn"
	-else
		= link_to "Log In",
			new_user_session_path,
			class: "navbar__btn"