!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Ben M Curry
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body.gradiant-main
    = render "layouts/navbar"
    = yield
  %footer
    This application is based on the tutorial for Hotwire/Turbo at #{link_to "https://www.hotrails.dev/turbo-rails"}