!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    
    %title Ben McKibben | Web Application Developer
    %meta{:name=>"description", :content=>"This site is about the Ben McKibben, Web Developer. It describes his skill set and displays his expertise. "}/
    %meta{:property=>"og:title", :content=>"Ben McKibben | Web Application Developer"}/
    %meta{:property=>"og:description", :content=>"This site is about the Ben McKibben, Web Developer. It describes his skill set and displays his expertise."}/
    %meta{:property=>"og:url", :content=>"https://www.LiteralLight.com"}/
    %meta{:property=>"og:site_name", :content=>"LiteralLight"}/
    %meta{:property=>"og:type", :content=>"website"}/
    %meta{:name=>"twitter:card", :content=>"summary_large_image"}/
    %meta{:name=>"twitter:title", :content=>"Ben McKibben | Web Application Developer"}/
    %meta{:name=>"twitter:description", :content=>"This site is about the Ben McKibben, Web Developer. It describes his skill set and displays his expertise."}/
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{:rel=>"canonical", :href=>"https://www.Literallight.com"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Rokkitt:300,400,600,700,800", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Syncopate:300,400,600,700,800", :rel => "stylesheet"}/
    %link{:href => "apple-touch-icon.png", :rel => "apple-touch-icon"}/        
    %link{:href => "https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css", :rel => "stylesheet", :integrity => "sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi", :crossorigin => "anonymous"}/
  %body.home
    = yield
    = render "layouts/footer"
    .flash{id: "flash"}
      = render "layouts/flash"

